<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Arch"
        tools:targetApi="31"
        tools:ignore="ExtraText">
        <activity
            android:name=".frontPage"
            android:exported="true"
            android:theme="@style/Theme.Arch.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".first_page"
            android:exported="true"
            android:parentActivityName=".frontPage"
            >
        </activity>
        <activity
            android:name=".Greece"
            android:exported="true">
        </activity>
        <activity
            android:name=".patras"
            android:exported="true">
        </activity>
        <activity
            android:name=".athens"
            android:exported="true">
        </activity>
        <activity
            android:name=".saint_andrew"
            android:exported="true">
        </activity>
        <activity
            android:name=".patras_monuments"
            android:exported="true">
        </activity>
        <activity
            android:name=".athens_monuments"
            android:exported="true">
        </activity>
        <activity
            android:name=".acropolis"
            android:exported="true">
        </activity>
        <activity
            android:name=".Panathenaic_stadium"
            android:exported="true">
        </activity>
        <activity
            android:name=".Odeon_of_Herodus_Atticus"
            android:exported="true">
        </activity>
        <activity
            android:name=".roman_odeon"
            android:exported="true">
        </activity>
        <activity
            android:name=".rio_antirion_bridge"
            android:exported="true">
        </activity>
        <activity
            android:name=".Italy"
            android:exported="true">
        </activity>
        <activity
            android:name=".matera"
            android:exported="true">
        </activity>
        <activity
            android:name=".matera_monuments"
            android:exported="true">
        </activity>
        <activity
            android:name=".The_Sassi"
            android:exported="true">
        </activity>
        <activity
            android:name=".The_Castello_Tramontano"
            android:exported="true">
        </activity>
        <activity
            android:name=".The_Murgia_Park"
            android:exported="true">
        </activity>
        <activity
            android:name=".maratea"
            android:exported="true">
        </activity>
        <activity
            android:name=".maratea_monuments"
            android:exported="true">
        </activity>
        <activity
            android:name=".The_Statue_of_the_Christ_the_Redeemer"
            android:exported="true">
        </activity>
        <activity
            android:name=".The_Basilica_of_St_Blaise"
            android:exported="true">
        </activity>
        <activity
            android:name=".Castrocucco_Castle"
            android:exported="true">
        </activity>
        <activity
            android:name=".assisi"
            android:exported="true">
        </activity>
        <activity
            android:name=".assisi_monuments"
            android:exported="true">
        </activity>
        <activity
            android:name=".Basilica_of_San_Francesco"
            android:exported="true">
        </activity>
        <activity
            android:name=".The_Woods_of_San_Francesco"
            android:exported="true">
        </activity>
        <activity
            android:name=".Temple_of_minerva"
            android:exported="true">
        </activity>
        <activity
            android:name=".perugia"
            android:exported="true">
        </activity>
        <activity
            android:name=".perugia_monuments"
            android:exported="true">
        </activity>
        <activity
            android:name=".The_Roman_Aqueduct_in_Perugia"
            android:exported="true">
        </activity>
        <activity
            android:name=".National_Gallery_of_Umbria"
            android:exported="true">
        </activity>
        <activity
            android:name=".IV_November_Square"
            android:exported="true">
        </activity>

    </application>
</manifest>