<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Arch"
        tools:targetApi="31"
        tools:ignore="ExtraText">
        <activity
            android:name=".frontPage"
            android:exported="true"
            android:theme="@style/Theme.Arch.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".first_page"
            android:exported="true"
            android:parentActivityName=".frontPage"
            >


        </activity>
        <activity
            android:name=".Greece"
            android:exported="true">
        </activity>
        <activity
            android:name=".patras"
            android:exported="true">
        </activity>
        <activity
            android:name=".athens"
            android:exported="true">
        </activity>
        <activity
            android:name=".saint_andrew"
            android:exported="true">
        </activity>
        <activity
            android:name=".patras_monuments"
            android:exported="true">
        </activity>
        <activity
            android:name=".athens_monuments"
            android:exported="true">
        </activity>
        <activity
            android:name=".acropolis"
            android:exported="true">
        </activity>
        <activity
            android:name=".Panathenaic_stadium"
            android:exported="true">
        </activity>
        <activity
            android:name=".Odeon_of_Herodus_Atticus"
            android:exported="true">
        </activity>
        <activity
            android:name=".whitetower"
            android:exported="true">
        </activity>
    </application>
</manifest>